body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .signup-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .signup-form {
    margin-top: 20px;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form button {
    background-color: #6a0dad;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #590db6;
  }
  
  .signup-form a {
    text-decoration: none;
    color: #6a0dad;
  }
  
  .signup-form a:hover {
    color: #590db6;
  }
  
  .signup-form h2 {
    color: #6a0dad;
    text-align: center;
    margin-bottom: 20px;
  }
  